#cloud-config

users:
  - name: andmalc
    sudo: ['ALL=(ALL) NOPASSWD:ALL']
    passwd: $6$SALT$dunj14eygGYH..7aS64d6dIiC9tWVe4Jjp3.eut15VHubEuNeq/FEx65OF0LKoimmjETfLC/VNXfGGJ1tTshT0
    groups:
      - wheel
    #ssh_pwauth: True
    ssh_authorized_keys: 
          - ssh-rsa AAAAB3NzaC1yc2EAAAABIwAAAQEA0UBH08Sg9zqgjnY8b+C2Mqhnda4v64DugAXOKLrshmct9dweCNzg8zm9LY1O58hz3PoPUzgILVN3kDHkn2/Hwpftuqqo41dE4cOWtUVy7pL4vOD/eid9ZodZXtBwtT3LC/GfeMx6x9f+aInvuYZGfSyCFBmveXdbYIBVmuy5qWh+l9sFoBkY8WeB+0braaY+ZFga3MtpRfrOnBLeGouZRI0nI9RymCUssELY8glWZG7qvTtp/gngkhJ7YPj9p/hP6meCp3TfawAPUxiEH0cYyOQjTaziDP0YiV2sk+a5OIre5h83VpRMJl5EIASg/BiFUiwnViqazjHl5u5cAY9uQw== andmalc-key
