
$myblue: deepskyblue;

.generic-container {
    display: flex;
    padding: 10px;
    border: $myblue 1px solid;
    background: #ccc;
    box-shadow: 1px 1px 1px rgba(black, .3);
}

.container {
    @extend .generic-container;
    background: green;
    flex-direction: column;
}
.box-red {
    @extend .generic-container;
    background: red;
}

@mixin container {
    display: flex;
    background-color: $myblue;
    border: red 1px solid;
}

.container-main {
            @include container;
}

main {
    border: green 2px solid;
}
